.App {
  background-image: linear-gradient(#f4f0f3, #eaf3f7);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 50px;
}

.Loading {
  text-align: center;
}